.adminUserForm {
  width: 50%;
  margin: 0 auto;
  h1 {
    text-align: center;
    margin: 0 auto;
  }
}
.form-control {
  width: 60%;
  margin: 0 auto;
}
.form-group {
  text-align: center;
}
.col-3 {
  margin: 0 auto;
}
.buttonsDIv {
  margin: 15px auto;
  display: flex;
  justify-content: center;
}
.adminRow {
  width: 50%;
  margin: 0 auto;
}
