.adminUserForm {
  width: 70%;
  margin: 0 auto;
  text-align:center;
  h1 {
    text-align: center;
    margin: 0 auto;
  }
}
.form-control {
  width: 60%;
  margin: 0 auto;
}
.form-group {
  text-align: center;
}

.buttonsDivUser {
  margin: 15px auto;
  display: flex;
 width:50%;
}
.buttonsDiv {
  margin: 15px auto;
  display: flex;
justify-content: center;
}
.adminRow{
  width:50%;
  margin: 0 auto;
}
.paraCols{
  margin:0 auto;
}
