.linkCategories {
    color: white;
    text-align: center;
    text-decoration: none;
}
.imagesCat{
    width:150px;
  height:150px;
  margin: 20px auto;
  border: 1px solid white;
}
.h2category{
    color: #fff;
    text-align: center;
}
.catContainer{
    display: flex;
  flex-flow: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 3% auto;
  width:45%;
  text-align: center;
}