.images{
  width:100px;
  height:100px;
  margin: 4px auto;
  border: 1px solid #7579ff
}
.containerFooter{
  display: flex;
  flex-flow: nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width:45%;
  text-align: center;
}
.JumbotronFooter{
  background-color:#343A40;
  color: #fff;
}
.jumby{
  padding: 1px
}
.pFooter{
  padding: 1em;
  margin-left: 20px;
  margin-bottom: 0;
}