.formulario {
  max-width: 60%;
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  border: solid 1px #f1f1f1;
  background: #fbfbfb;
  box-shadow: #e6e6e6 0 0 4px;
  border-radius: 0.25rem;
}

.h3 {
  width: 100%;
  text-align: center;
}

.textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}

.boxsizingBorder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
