//

.product-container {
  width: 85%;
  margin: 0px auto;
  display: flex;
  border: 2px solid gray;
  border-radius: 20px;
  padding: 20px;
  background-color: white;

  .images {
    position: relative;
    margin: 0;
    width: 80%;
    height: 500px;
    display: flex;

    .list-images {
      display: flex;
      flex-direction: column;
      width: 15%;
      margin: 10px auto;

      .imgContainer {
        position: relative;
        width: 100%;
        height: 25%;
        margin: 3px 0;
        border: 1px solid grey;
        border-radius: 20px;

        img {
          height: 80%;
          width: 80%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          object-fit: cover;
        }
      }
    }

    .principal-image {
      position: relative;
      width: 85%;
      height: 500px;
      margin: auto 20px;

      img {
        width: 100%;
        border: 1px solid grey;
        border-radius: 20px;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        object-fit: contain;
        background-color: white;
      }
    }
  }

  .data-container {
    width: 20%;
    margin: 0 10px;
    color: black;

    .data {
      margin-top: 10px;
      h1 {
        margin-bottom: 3px;
        font-size: 2rem;
      }
      h4 {
        margin: 5px 3px;
        font-size: 1.3rem;
      }
      .price {
        &:before {
          content: "$ ";
        }
      }
    }

    .order {
      /* position: absolute;
      top: 70%;
      width: 15%; */

      .quantity {
        width: 100%;
        height: 35px;
        padding: 0px 10%;
        display: flex;
        align-items: center;
        margin: 15px auto;
        justify-content: space-around;

        .quantity-btn {
          color: black;
          width: 20%;
          height: 100%;
          border-radius: 6px;
          outline: none;
          border: none;
          cursor: pointer;

          background-image: linear-gradient(
            bottom,
            rgb(73, 132, 180) 0%,
            rgb(97, 155, 203) 100%
          );
          background-image: -o-linear-gradient(
            bottom,
            rgb(73, 132, 180) 0%,
            rgb(97, 155, 203) 100%
          );
          background-image: -moz-linear-gradient(
            bottom,
            rgb(73, 132, 180) 0%,
            rgb(97, 155, 203) 100%
          );
          background-image: -webkit-linear-gradient(
            bottom,
            rgb(73, 132, 180) 0%,
            rgb(97, 155, 203) 100%
          );
          background-image: -ms-linear-gradient(
            bottom,
            rgb(73, 132, 180) 0%,
            rgb(97, 155, 203) 100%
          );
          background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(73, 132, 180)),
            color-stop(1, rgb(97, 155, 203))
          );

          &:hover {
            background-image: linear-gradient(
              bottom,
              rgb(79, 142, 191) 0%,
              rgb(102, 166, 214) 100%
            );
            background-image: -o-linear-gradient(
              bottom,
              rgb(79, 142, 191) 0%,
              rgb(102, 166, 214) 100%
            );
            background-image: -moz-linear-gradient(
              bottom,
              rgb(79, 142, 191) 0%,
              rgb(102, 166, 214) 100%
            );
            background-image: -webkit-linear-gradient(
              bottom,
              rgb(79, 142, 191) 0%,
              rgb(102, 166, 214) 100%
            );
            background-image: -ms-linear-gradient(
              bottom,
              rgb(79, 142, 191) 0%,
              rgb(102, 166, 214) 100%
            );
            background-image: -webkit-gradient(
              linear,
              left bottom,
              left top,
              color-stop(0, rgb(79, 142, 191)),
              color-stop(1, rgb(102, 166, 214))
            );
          }
        }

        div {
          text-align: center;
          width: 60%;
          font-size: 16px;
          color: #43484d;
          font-weight: 300;
        }
      }

      .add-btn {
        margin: 5px auto;
        width: 100%;
        border: 2px groove black;
        color: black;
        font-weight: bold;
        outline: none;
        cursor: pointer;
      }
    }
  }
}

hr {
  width: 95%;
  height: 1px;
  margin: 30px auto;
  background-color: grey;
  border: 0;
}

.description {
  width: 100%;
  height: 100%;
  padding: 50px 7%;
  background-color: white;
  color: black;
}
