@import "./login.scss";
@import "./carrusel";
@import "./navbar";
@import "./products";

body {
  // width: 100%;
  // height: 100vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  background: -webkit-linear-gradient(left, #000000, #000000);
  font-family: "Nunito", sans-serif;
}
