@import "./login.scss";
@import "./carrusel";
@import "./navbar";
@import "./products";
@import "./singleProduct";
@import "./searchbar";
@import "./adminUserForm";

body {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(left, #000000, #000000);
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}
